@media (max-width: 768px) {
  header .menu-container nav.menu .dropdown-menu .menu-items-container a .menu-item {
    width: 100%;
    border-radius: 0;
    padding: 45px 45px 60px 45px;
    border: none;
    display: inline-block;
  }
}