/// @group theme
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext');

$font-lato: 'Lato', sans-serif;

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype');
  src: url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2');
  src: url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff');
  src: url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype');
  src: url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

